.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 160px;
  height: 100px;
  background: url("../assets/deco.svg") no-repeat center;
  position: absolute;
  bottom: -80px;
  left: 20px;
}

.formacao {
  background-color: #141414;
  color: white;
}

.formacao .subtitulo {
  color: #000000;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background-color: #000000;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-lista li::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: relative;
  top: 50px;
  left: -24px;
}

.faculdade-lista li:nth-child(1)::before {
  background: linear-gradient(180deg, #ff67c3 0%, #ce1986 100%, #c1127b 100%);
}

.faculdade-lista li:nth-child(2)::before {
  background: linear-gradient(180deg, #ffef66 0%, #dbc71a 100%);
}

.faculdade-lista li:nth-child(3)::before {
  background: linear-gradient(180deg, #66c2fe 0%, #1584cd 100%);
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 60px;
}

.idiomas {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -34px;
  top: -4px;
}

.cursos h3::before {
  background: url("../assets/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../assets/idiomas.svg") no-repeat center center;
}

.eventos h3::before {
  background: url("../assets/eventos.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li,
.eventos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .formacao .subtitulo {
    color: #ffffff;
    max-width: 5ch;
  }

  .formacao-texto {
    font-size: 1.125rem;
  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}

.imagem-anexos {
  margin-left: 0.2rem;
}

.titulo-curso,
.titulo-evento {
  display: inline-flex;
  color: white !important;
}
