.portfolio-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.portfolio {
  background-color: #292929;
  color: white;
}

.portfolio .subtitulo {
  color: #3d3d3d;
  max-width: 3.5ch;
}

.portfolio-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #f0f0f0;
}

.portfolio-texto strong {
  color: #ffffff;
}

/* .mais-projetos {
  margin-top: 60px;
  font-size: 1.5rem;
  color: white;
}

.mais-projetos a {
  color: white;
  display: inline-block;
  position: relative;
}

.mais-projetos a:hover {
  color: #8f8f8f;
} */

@media (max-width: 800px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .portfolio .subtitulo {
    color: #ffffff;
    max-width: 5ch;
  }

  .portfolio-texto {
    font-size: 1.125rem;
  }
}

/* accordion */

details {
  background: #151515;
  color: #ffffff;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: height 5s ease;
  margin-bottom: 1rem;
  border-radius: 5px 5px 5px 5px;
}

details > summary {
  padding: 18px;
}
details[open] > summary > label > span {
  transform: rotate(90deg);
  cursor: pointer;
}

details > summary:hover {
  background: #0c0c0c;
  border-radius: 5px 5px 5px 5px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease-in;
  cursor: pointer;
}

details p {
  padding: 1.125rem;
  background: #252525;
  line-height: 1.3rem;
}

details > summary {
  list-style: none;
}

details[open] summary ~ * {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  animation: sweepin 0.5s ease-in-out;
}

.portfolio-item summary::before {
  content: "";
  width: 4px;
  height: 20px;

  display: inline-block;
  position: relative;
  left: -22px;
  top: 3px;
}

.portfolio-item:nth-of-type(3n + 1) summary::before {
  background: linear-gradient(180deg, #ff67c3 0%, #ce1986 100%, #c1127b 100%);
}

.portfolio-item:nth-of-type(3n + 2) summary::before {
  background: linear-gradient(180deg, #ffef66 0%, #dbc71a 100%);
}

.portfolio-item:nth-of-type(3n + 3) summary::before {
  background: linear-gradient(180deg, #66c2fe 0%, #1584cd 100%);
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.accordion span {
  color: #777;
  font-size: 0.875rem;
  margin-left: 5px;
}

@keyframes sweepin {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

.portfolio-item-link {
  box-shadow: inset 0 -1px #373737;
}

.portfolio-item-link span {
  margin-left: 8px;
}

.portfolio-item-link a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.portfolio-item-link a:hover {
  color: #7a7a7a;
}
